# understand structure of a data frame

In [2]:
import pandas as pd
import numpy as ny
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                       'foo', 'bar', 'foo', 'foo'],
                'B' : ['one', 'one', 'two', 'three',
                       'two', 'two', 'one', 'three'],
                'C' : ny.random.randn(8), 'D' : ny.random.randn(8)})
grouped = df.groupby(['A', 'B'])
grouped.sum()

                  C         D
A   B
bar one   -0.507396  1.023177
    three -0.117887 -0.507434
    two    1.785515  0.185717
foo one    0.543375  0.481998
    three  1.264114  1.172844
    two    0.099580  1.149746

In [3]:
type(grouped.sum())

pandas.core.frame.DataFrame

In [4]:
for a in grouped.sum().columns:
    print type(a), a
    
for b in grouped.sum().index:
    print type(b),b
    
grouped.sum().shape

<type 'str'> C
<type 'str'> D
<type 'tuple'> ('bar', 'one')
<type 'tuple'> ('bar', 'three')
<type 'tuple'> ('bar', 'two')
<type 'tuple'> ('foo', 'one')
<type 'tuple'> ('foo', 'three')
<type 'tuple'> ('foo', 'two')

(6, 2)

In [ ]:
grouped.sum().to_csv('/root/lloyd/pv_clean/group.txt',header=None)

* A,B,C,D
* bar,one,-0.116511439688,0.926463676837
* bar,three,0.709668737612,-0.600715164775
* bar,two,1.01038576351,-0.451571700281
* foo,one,-0.706537222087,-2.88206987782
* foo,three,-1.48125468589,-2.35936997106
* foo,two,-2.05603144548,-1.12321657849

In [15]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar','bar'],
                     'key2': ['one', 'one', 'one','two'],
                     'lval': [1, 2, 3,5]})
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                      'key2': ['one', 'one', 'one', 'one'],
                      'rval': [4, 5, 6, 7]})

In [20]:
lg=left.groupby([left['key1'],left['key2']]).sum()
rg=right.groupby([right['key1'],right['key2']]).sum()
j = pd.merge(lg, rg,how='left', left_index=True,right_index=True)
j

           lval  rval
key1 key2
bar  one      3    13
     two      5   NaN
foo  one      3     9

In [26]:
df=pd.DataFrame({'dev_id':['ffffd8fdcb258b56e7ae900c73bfa496',
                           '0000004d0ee26ac7a0ee94218f27be0d',
                           '00005abc7fe73b34079315b44c0b82c8']})
a=df['dev_id'].apply(lambda x: int(x,16))
a

0    340281575732150278766549399410501985430
1            6105175025224431355671490313741
2         1840351343019023074410892203098824
Name: dev_id, dtype: object

In [27]:
r=right[right['rval']<5]
r

  key1 key2  rval
0  foo  one     4