In [1]:
import pandas as pd

# Validate data, no dup, with dev_id, with post_id, with date, with praise

In [30]:
train_data = pd.read_csv("/Users/bodong/Downloads/contest_data/train.txt", sep="\t",header=None,names=["dev_id","p_id","praise","datetime"])
train_data.head()

                             dev_id    p_id  praise        datetime
0  8437c6fd866b5426f995569f13dca754  517255       1  20151108062757
1  8437c6fd866b5426f995569f13dca754  532326       1  20151116065912
2  8437c6fd866b5426f995569f13dca754  532350       1  20151116065831
3  8437c6fd866b5426f995569f13dca754  532354       1  20151116065753
4  8437c6fd866b5426f995569f13dca754  532356       1  20151116065734

In [47]:
#print "null dev_id record: ",train_data.iloc[5873]
#train_data[train_data["dev_id"].isnull()].count() #791 lines have no d_id
#t1[t1.p_id.isnull()].count() #0
#t1[t1.praise.isnull()].count() #0
#t1[t1.datetime.isnull()].count() #0

train_data=train_data[train_data.dev_id.notnull()]
#474564 -> 473773

In [46]:
train_data.unique

dev_id      0
p_id        0
praise      0
datetime    0
dtype: int64

# Remove datetime

# Get ratio,  count(praise) / total number by dev_id, post_id

# Get raitio, people give different actions on a same post

In [ ]:
count(*) from t 
group by dev_id, post_id
having max(praise) - min(praise) > 0

# Split 1-24, 25-27